* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: relative;
    width: 100%;
    
   
    display: flex;
    
    justify-content:space-between;
    overflow: hidden;
}
    

.cabecalho {
    display: flex;
    margin: 30px;
    font-size: 20px;
    color: #12141D;
    bottom: 10px;
}
.logo{
    
    top: 10px;
    left: 10px;
    width: 900%;
    height: 100%;
    margin-bottom: auto;
   
}
#magistr{
    top: 10px;
    left: 10px;
    width: 900%;
    height: 100%;
    margin-bottom: 30px;
}
.navagation{
    display: flex;
    justify-content: center;
   
}
 