* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.cabecalho {
    background: linear-gradient(0deg, #E9E9F9 0.76%, rgba(225, 226, 255, 0) 100%), #FFFFFF;

}

.menu-principal {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 'Inter', sans-serif;

}


.menu-links {
    display: flex;
    align-items: center;
    list-style: none;
    margin-left: 550px;

}

.menu-links li {
    margin-right: 10px;
    margin-left: 10px;


}

a {
    font-weight: 500;
    font-size: 17px;
    text-decoration: none;
    color: #12141d;
    font-family: 'Inter', sans-serif;


}




.botao {
    background-color: #111E52;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px 24px;
    gap: 10px;
    width: 150px;
    height: 56px;
    border-radius: 8px;
    color: white;
    margin-top: 10px;
    margin-right: 80px;
    flex: none;
    order: 1;
    flex-grow: 0;

}

.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.colona-banner-direita {
    background-image: url(img/fondo-foto.png);
    background-position: center;
    background-size: cover;

}



.botao-banner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 151px;
    width: 325px;
    height: 64px;
    background: #FFC947;
    border-radius: 8px;
    flex: none;
    order: 1;
    flex-grow: 0;
    font-family: 'Inter', sans-serif;
    margin-left: 82px;
    margin-top: 15px;

}

.titulo-banner {
    margin: 80px;
    font-weight: 500;
    font-size: 50px;
    color: #12141d;
    font-family: 'Inter', sans-serif;


}


.texto-banner {
    margin: 80px;
    margin-top: 40px;
    font-size: 20px;
    color: #12141D;
    padding-left: 5px;


}


#logo {
    margin: 15px;
    margin-left: 95px;


}

#super {

    color: #FFC947;

}

#titulo-conteine {
    display: block;
    font-size: 56px;
    text-align: center;
    color: #12141D;
    padding: 5px;
}

.linha {
    display: flex;
    justify-content: space-around;
    padding: 100px;
    background: #F9F9FF;
    border: 1px solid #F9F9FF;
}

.vetor6 {
    align-items: center;
    border-radius: 100%;
    padding: 20px;
    background: linear-gradient(148.79deg, #F82C2C 12.9%, #EC874E 29.15%, #E78B20 41.54%, #FF2633 70.18%, #FF1818 87.21%);
}

.conteine3 {
    display: block;
    justify-content: space-between;
    text-align: center;

    height: 180px;



}

.titulo-conteine2 {
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    padding: 10px;
    align-items: center;
    color: #12141d;


}

.texto-conteine2 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400px;
    font-size: 18px;
    color: #12141d;
    opacity: 0.7;
    padding: 10px;
}

.linha2 {
    display: flex;
    justify-content: space-around;
    padding: 100px;
    background: #F9F9FF;
    border: 1px solid #F9F9FF;
   left: 300px;
}

.texto-paragrafo {
    width: 637px;
    height: 144px;
    left: 312px;
    top: 1626px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 66px;
    line-height: 72px;
    color: #12141D;
}

.texo-paragrafo2 {
    width: 569px;
    height: 84px;
    margin-bottom: auto;
    left: 1213px;
    top: 1656px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #12141D;
    padding: 30px;
    opacity: 0.7;
}

.img {
    display: flex;
    margin: 50px;
    top: auto;
    right: auto;
    width: 1300px;
    border-radius: 10px;
}

.passo {
    display: block;
    justify-content: space-around;
    padding: 100px;
    background: #F9F9FF;
    border: 1px solid #F9F9FF;
}

.titulo-passo {
    font-size: 56px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 56px;
    line-height: 72px;
    color: #12141D;
}

.texto-123 {
    
    display: flex;
    justify-content: space-around;
    padding: 50px;
   
}

.texto-123 h1 {
    text-align: center;
    border-radius: 100%;
    background: #12141D;
    color: #fff;
    font-size: 30px;
   width: 100px;
   height: 100px;
    
    
}
.texto-1234{
   
    display: flex;
    justify-content: space-around;
    padding: 10px;
}
.texto-1234 p{
    margin: 10px;
    font-family: 'Inter', sans-serif;
    font-size: 30px;
    color: #000000;;
    padding: 10px;
    
}
.texto-1235{
    display: flex;
    justify-content: space-around;
    padding: 10px;
}
.texto-1235 p{
    font-size: 16px;
    
}
.ultimas{
    display: block;
    justify-content: space-around;
    padding: 100px;
    background: #F9F9FF;
    border: 1px solid #F9F9FF;
}
